.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  a {
    color: $secondary-color;
    text-decoration: none;
    font-size: .8rem;
    border: 1px solid $secondary-color;
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
}