// Colors
$primary-color:  hsl(322, 100%, 66%);
$secondary-color:  hsl(321, 100%, 78%);
$terciary-color: hsl(0, 100%, 63%);

// Color-Fonts
$font-color-primary: hsl(192, 100%, 9%);
$font-color-secondary: hsl(207, 100%, 98%);