html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}
.container-nav a {
  color: hsl(321deg, 100%, 78%);
  text-decoration: none;
  font-size: 0.8rem;
  border: 1px solid hsl(321deg, 100%, 78%);
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.container-start-free {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-start-free h1 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
}
.container-start-free p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 2rem;
  width: 500px;
  text-align: center;
}
.container-start-free a {
  text-decoration: none;
  margin-bottom: 4rem;
  background-color: hsl(322deg, 100%, 66%);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 1.5rem 4rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.container-about .container-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30rem;
  padding: 6rem;
}
.container-about .container-numbers .numbers-communities h3,
.container-about .container-numbers .numbers-messages h3 {
  font-size: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}
.container-about .container-numbers .numbers-communities p,
.container-about .container-numbers .numbers-messages p {
  font-family: "Open Sans", sans-serif;
  color: #aaa4a4;
}
.container-about .container-users .container-grow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.container-about .container-users .container-grow img {
  width: 450px;
}
.container-about .container-users .container-grow h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.container-about .container-users .container-grow p {
  width: 450px;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
}

.container-footer {
  background-color: hsl(192deg, 100%, 9%);
}
.container-footer .container-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6rem 12rem;
}
.container-footer .container-content .logo-footer {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  margin-left: 0.5rem;
}
.container-footer .container-content .contact {
  color: #fff;
  margin: 1rem 0;
  max-width: 250px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
}
.container-footer .container-content .icons {
  color: #fff;
  margin: 1rem 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
}
.container-footer .container-content .icons img {
  margin-right: 1rem;
}
.container-footer .container-content .newsletter {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1rem;
}
.container-footer .container-content input {
  width: 200px;
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  margin-right: 1rem;
}
.container-footer .container-content button {
  color: #fff;
  background-color: hsl(322deg, 100%, 66%);
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.container-footer .container-content button:hover {
  background-color: hsl(321deg, 100%, 78%);
}/*# sourceMappingURL=style.css.map */